@model Bugtracking.Models.ProduitVersion

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ProduitVersion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VersionMajeur" class="control-label"></label>
                <input asp-for="VersionMajeur" class="form-control" />
                <span asp-validation-for="VersionMajeur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VersionMineur" class="control-label"></label>
                <input asp-for="VersionMineur" class="form-control" />
                <span asp-validation-for="VersionMineur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroBuild" class="control-label"></label>
                <input asp-for="NumeroBuild" class="form-control" />
                <span asp-validation-for="NumeroBuild" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateDebutValidité" class="control-label"></label>
                <input asp-for="DateDebutValidité" class="form-control" />
                <span asp-validation-for="DateDebutValidité" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateFinValidit" class="control-label"></label>
                <input asp-for="DateFinValidit" class="form-control" />
                <span asp-validation-for="DateFinValidit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
